:root {
  --header-bg-color: #fff;
  --primary: #edf2f7;
  --primary-light: #e2e8f0;
  --secondary: #38b2ac;
  --secondary-light: rgb(164, 214, 212);
  --board: #f7fafc;
  --text-strong: #4a5568;
  --text: #718096;
  --text-light: #a0aec0;
}

.dark-mode {
  --header-bg-color: #212121;
  --primary: #323232;
  --primary-light: #464646;
  --secondary: #f687b3;
  --secondary-light: #cca6b5;
  --board: #121212;
  --text-strong: #d6d6d6;
  --text: #c4c4c4;
  --text-light: #838383;
}

body {
  background-color: var(--board);
  color: var(--text);
  transition: all 0.4s;
}

html {
  @apply font-sans;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.text {
  color: var(--text);
}
.text-strong {
  color: var(--text-strong);
}
.text-secondary {
  color: var(--secondary);
}